* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 500px;
  margin: 0 auto;
}

.form-input {
  border-bottom: 1px solid gray;
}

.form-input input {
  font-size: 30px;
  border: none;
  box-shadow: none;
  outline: none;
}

.form-input input::placeholder {
  color: gray;
  font-size: 30px;
}

.todo-list {
}
.todo-list .todo-item {
  list-style: none;
}
