.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.light-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.light-on.red {
  background: red;
}

.light-on.yellow {
  background: yellow;
}

.light-on.green {
  background: green;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #fff;
  cursor: pointer;
}
